.App {
  text-align: center;
}

.register-form {
  width: 25rem;
  margin: auto
}

.posts-div{
  margin-top: 3rem;
}

.blur{
  background-color: black;
  opacity: 0.8
}

.blur-background{
  background-color: black;
}